@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}
body {
	background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}
.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}
/*Header*/
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.container .btn-menu,
.logo {
	float: left;
	line-height: 100px;
}
.container .btn-menu label {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}
.logo h1 {
	color: #fff;
	font-weight: 400;
	font-size: 22px;
	margin-left: 10px;
}
.container .menu {
	float: right;
	line-height: 100px;
}
.container .menu a {
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}
.container .menu a:hover {
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}
/*Header End*/

/*Lateral Menu*/
#btn-menu {
	display: none;
}
.container-menu {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
	opacity: 1;
	visibility: visible;
}
.cont-menu {
	width: 100%;
	max-width: 250px;
	background: #1c1c1c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
	transform: translateX(0%);
}
.cont-menu nav {
	transform: translateY(15%);
}
.cont-menu nav a {
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover {
	border-left: 5px solid #c7c7c7;
	background: #1f1f1f;
}
.cont-menu label {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}
/*Lateral Menu End*/

/*Cards*/
.container-card {
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card {
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
}
.card img {
	width: 100%;
	height: 210px;
}
.card .contenido-card {
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3 {
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p {
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover {
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.container-card {
		flex-wrap: wrap;
	}
	.card {
		margin: 15px;
	}
}
/*Cards End*/

/*Footer*/
footer {
	background-color: gray;
	color: white;
	padding: 5px;
	text-align: center;
}

/*Footer End*/
